# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Jayss\OneDrive\Desktop\COP  3003 - Object-Oriented Programming\JavaBank\DeployFXGradle\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
